@charset "uft-8";
:root {
    --color1: #6d9886;
    --color2: #737373;
    --color3: #26272b;
    --color4: #d9cab3;
    --color5: #FFA07A;
    --color6: #f6f6f6;
    --rotate: 0.5turn;
}

svg {
    animation: fill 0.5s linear forwards 3.4s;
}
@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: var(--color1);
    }
}
svg path {
    stroke: var(--color5);
    stroke-width: 2;
    animation: stroke 5s linear forwards;
}
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

svg path:nth-child(1) {
    stroke-dasharray: 53px;
    stroke-dashoffset: 53px;
}