@charset "uft-8";
:root {
    --color1: #6d9886;
    --color2: #737373;
    --color3: #26272b;
    --color4: #d9cab3;
    --color5: #FFA07A;
    --color6: #f6f6f6;
    --rotate: 0.5turn;
}

#click_ani {
    animation: click_fill 0.5s linear forwards 3.4s;
}
@keyframes click_fill {
    from {
        fill: transparent;
    }
    to {
        fill: var(--color1);
    }
}
#click_ani path {
    stroke: var(--color1);
    stroke-width: 1;
    animation: stroke 3s linear forwards;
}
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}

#click_ani path:nth-child(1) {
    stroke-dasharray: 53px;
    stroke-dashoffset: 53px;
}